SUPABASE_URL=https://zfayoarabdaycrmqaatb.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmYXlvYXJhYmRheWNybXFhYXRiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODE0MzMwOSwiZXhwIjoyMTAzNzE5MzA5fQ.vUGy0hCgk5ewCQTmN3KcbrP43TZoTM9-vDtYCJ5BOGo
PORT=3000
ALLOWED_ORIGIN=https://week-3-psi.vercel.app/
